name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: v1.24.0
    - name: Build
      run: make build

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: v1.24.0
    - name: Test
      run: make test

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: v1.24.0
    - name: Lint
      run: make lint

  verify-boilerplate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Verify boilerplate
      run: make verify-boilerplate

  verify-codegen:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: v1.24.0
    - name: Verify codegen
      run: make verify-codegen
