name: goreleaser

on:
  pull_request:
    paths:
    - .github/workflows/goreleaser.yaml
    - .goreleaser.yml
  push:
    tags:
    - 'v*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v5
      with:
        go-version: v1.24.0
    - name: Delete non-semver tags
      run: 'git tag -d $(git tag -l | grep -v "^v")'
    - name: Set LDFLAGS
      run: echo LDFLAGS="$(make ldflags)" >> $GITHUB_ENV
    - name: Run GoReleaser on tag
      if: github.event_name != 'pull_request'
      uses: goreleaser/goreleaser-action@v6
      with:
        distribution: goreleaser
        version: latest
        args: release --timeout 60m
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          KREW_GITHUB_TOKEN: ${{ secrets.KREW_GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.CF_R2_ACCESS_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CF_R2_ACCESS_KEY }}
          LDFLAGS: ${{ env.LDFLAGS }}
    - name: Run GoReleaser on pull request
      if: github.event_name == 'pull_request'
      uses: goreleaser/goreleaser-action@v6
      with:
        distribution: goreleaser
        version: latest
        args: release --timeout 60m --snapshot
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        KREW_GITHUB_TOKEN: ${{ secrets.KREW_GITHUB_TOKEN }}
        AWS_ACCESS_KEY_ID: ${{ secrets.CF_R2_ACCESS_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.CF_R2_ACCESS_KEY }}
        LDFLAGS: ${{ env.LDFLAGS }}
